@CHARSET "ISO-8859-1";

#divFormHeader{
	background:blue;
	color:white;
	padding: 20px;	
}

fieldset, legend, p {
	margin: 0;
	padding: 10px;
}
body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}
form#FormCustomer {
	background: #9cbc2c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 500px;
}
form#FormCustomer fieldset {
	margin-bottom: 10px;
}
form#FormCustomer label {
	float: left;
	font-size: 13px;
	width: 110px;
}
form#FormCustomer textarea {
	background: #ffffff;
	border: none;
	outline: none;
	padding: 5px;
	width: 200px;
	height: 100px;
}

form#FormCustomer input:not([type=submit])
{
	width: 200px;
}
form#FormCustomer input[type=button]
{
	width: 120px;
}
form#FormCustomer input[type=submit], form#FormCustomer input[type=button]
{
	background: #384313;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 15px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}

form#FormCustomer input[type=submit]:hover, 
form#FormCustomer input[type=button]:hover{
	background: blue;
	cursor: pointer;
}